{% extends '_layout.html' %}

{% block title %}About Us - Bookborrow{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/about.css">

<div class="brand-header">
    <h1 class="bold-800 fs-large">Bookborrow</h1>
    <h2 class="bold-300 fs-medium">Your Affordable UNCC Bookstore</h2>
</div>

<div class="brand-content">
    <h2 class="text-center bold-500 mb-3 fs-medium">About Us</h2>
    <div class="boxes">
        <div class="box box-one">
            <i class="fas fa-book center mb-2"></i>
            <h2 class="text-center bold-800">Who Are We?</h2>
            <p class="text-center bold-500">Welcome to Bookborrow! We’re a student-focused bookstore dedicated to providing easy access to affordable books. Born out of the need for an accessible resource, Bookborrow allows students to buy, borrow, and sell books directly on campus, ensuring you find what you need at a price that fits your budget.</p>
        </div>

        <div class="box box-two">
            <i class="fas fa-bullseye center mb-2"></i>
            <h2 class="text-center bold-800">Our Goal</h2>
            <p class="text-center bold-500">Our goal is straightforward: to help students save money on education by offering a more affordable and sustainable way to access books. Textbooks can be a significant expense, and we believe that shouldn't be the case. Bookborrow simplifies the process of buying and selling books, allowing you to focus on what truly matters—your studies.</p>
        </div>

        <div class="box box-three">
            <i class="fas fa-handshake center mb-2"></i>
            <h2 class="text-center bold-800">Why Choose Us?</h2>
            <p class="text-center bold-500">Choosing Bookborrow means saving money while making the most of your books. Our platform provides a convenient way to list your used books, preventing them from sitting idle on a shelf. When you're finished with a book, simply list it on Bookborrow to help fellow students save and earn some cash in return! We aim to keep costs down and recycle resources, making education more affordable for everyone.</p>
        </div>
    </div>
</div>

{% endblock %}
