{% extends '_layout.html' %}

{% block title %}Event List{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/about.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <!-- <p>
        This page is meant to be able to facilitate students being able to rent and lend textbooks and course material
    </p> -->
    <div class="wrapper content">
        <div class="fullbox index">
            <div style="background: ghostwhite; 
            font-size: 20px; 
            padding: 10px; 
            border: 1px solid lightgray; 
            margin: 10px;">
                <h2 style="margin-top: 0px;">What is our website?</h2>
                
                <p>This site is meant to be allow students to facilitate trade of textbooks or other course materials among students without the overprices fees you would see while buying retail textbooks. You can set textbooks you want to the cart and directly message the current owner while setting up specific meetings to exchange whenever needed.</p>
                
                <h2> How do I rent Textbooks?</h2>

                <p> First you need to make an account and then you can browse using the search bar to add to your cart. You can also check the latest posted listing by clicking the search bar without typing anything in!</p>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}