{% extends '_layout.html' %}

{% block title %}About Us - Bookborrow{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/about.css">

<div class="brand-header">
    <h1 class="bold-800 fs-large">Bookborrow</h1>
    <h2 class="bold-300 fs-medium">Your Affordable UNCC Bookstore</h2>
</div>

<div class="brand-content mt-4">
    <h2 class="text-center bold-800 mb-3 fs-medium">About Us</h2>
    <div class="boxes">
        <div class="box box-one">
            <i class="fas fa-book center mb-2"></i>
            <h2 class="text-center bold-800">Who Are We</h2>
            <p class="text-center bold-500">Welcome to Bookborrow! We’re a student-focused bookstore dedicated to providing easy access to affordable books. Born out of the need for an accessible resource, Bookborrow allows students to buy, borrow, and sell books directly on campus, ensuring you find what you need at a price that fits your budget.</p>
        </div>

        <div class="box box-two">
            <i class="fas fa-bullseye center mb-2"></i>
            <h2 class="text-center bold-800">Our Goal</h2>
            <p class="text-center bold-500">Our goal is straightforward: to help students save money on education by offering a more affordable and sustainable way to access books. Textbooks can be a significant expense, and we believe that shouldn't be the case. Bookborrow simplifies the process of buying and selling books, allowing you to focus on what truly matters—your studies.</p>
        </div>

        <!-- <div class="box box-three">
            <i class="fas fa-handshake center mb-2"></i>
            <h2 class="text-center bold-800">Why Choose Us?</h2>
            <p class="text-center bold-500">Choosing Bookborrow means saving money while making the most of your books. Our platform provides a convenient way to list your used books, preventing them from sitting idle on a shelf. When you're finished with a book, simply list it on Bookborrow to help fellow students save and earn some cash in return! We aim to keep costs down and recycle resources, making education more affordable for everyone.</p>
        </div> -->

        <div class="box box-three">
            <i class="fas fa-shield-alt center mb-2"></i>
            <h2 class="text-center bold-800">Safe and Secure Transactions</h2>
            <p class="text-center bold-500">Bookborrow holds your payment securely until you receive your book and confirm you’re satisfied. This way, you can check out with peace of mind, knowing your money is protected. Once you receive and rate your item, the seller gets paid. It’s our way of ensuring a trusted and quality-driven experience for everyone involved.</p>
        </div>
        
    </div>
</div>

<div class="team-content mt-5">
        <h3 class="text-center bold-800 mb-3 fs-medium">Meet the team</h3>
        <div class="boxes">
            <div class="box" style="width: 10rem;">
                <img class="card-img-top mt-2" src="/static/images/zaid.JPG" alt="Card image cap">
                <h2 class="text-center bold-800">Zaid Jebril</h2>
                <p class="text-center bold-500">Senior UNCC Computer Science Student</p>
            </div>

            <div class="box" style="width: 10rem;">
                <img class="card-img-top mt-2" src="/static/images/zach.png" alt="Card image cap">
                <h2 class="text-center bold-800">Zachary Atkins</h2>
                <p class="text-center bold-500">Senior UNCC Computer Science Student</p>
            </div>

        <div class="box" style="width: 10rem;">
            <img class="card-img-top mt-2" src="/static/images/akash.png" alt="Card image cap">
            <h2 class="text-center bold-800">Akash Shanmugam</h2>
            <p class="text-center bold-500">Senior UNCC Computer Science Student</p>
        </div>
</div>

<div class="team-content-row-two mt-3">
    <div class="boxes">
        <div class="box" style="width: 10rem;">
            <img class="card-img-top mt-2" src="/static/images/sans.png" alt="Card image cap">
            <h2 class="text-center bold-800">...</h2>
            <p class="text-center bold-500">holy shit its sans undertale</p>
        </div>

        <div class="box" style="width: 10rem;">
            <img class="card-img-top mt-2" src="/static/images/defaultPFP.png" alt="Card image cap">
            <h2 class="text-center bold-800">...</h2>
            <p class="text-center bold-500">Senior Computer Science Student</p>
        </div>
    </div>
</div>

{% endblock %}
