{% extends '_layout.html' %}
{% block title %}Book Details{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/search_results_book_page.css">

<div class="book-container">
    <div class="top">

        <div class="book-image">
            <img src="{{ textbook.image_url }}" alt="{{ textbook.title }}">
        </div>

        <div class="book-details">
            <h1 class="book-title">
                {{ textbook.title }}
                {% if 'user' in session and textbook.owners_user_id == session['user']['user_id'] %}
                    (You own this book)
                {% endif %}
            </h1>
            <p class="book-description">{{ textbook.description }}</p>
            {% if avg_rating != 0 %}
                <p class="book-rating">Rating: {{ avg_rating }}/5.0 ({{ textbook.ratings|count }}) </p>
            {% else %}
                <p class="book-rating">Rating: N/A</p>
            {% endif %}

            {% if 'user' in session and textbook.owners_user_id == session['user']['user_id'] %}
                <button class="book-buy-button" onclick="window.location.href='/addDeleteTextbook'">Manage Your Textbooks</button>
                <form action="/create_meetup" method="get">
                    <input type="hidden" name="textbook_id" value="{{ textbook.textbook_id }}">
                    <button class="book-buy-button">Create Meetup Location</button>
                </form>
                <button class="book-buy-button" onclick="window.location.href='/view_meetup/{{ textbook.textbook_id }}'">View Meetup</button>
            {% else %}
                {% if 'user' in session %}
                    <div class="buy-options">
                            <form action="/cart/{{ session['cart']['cart_id'] }}" method="post">
                                <input type="hidden" name="textbook_id" value="{{ textbook.textbook_id }}">
                                <button class="book-buy-button">Add to Cart (Delivery Only)</button>
                            </form>
                            <form action="/direct_messaging" method="get">
                                <input type="hidden" name="seller_id" value="{{ textbook.owners_user_id }}">
                                <input type="hidden" name="textbook_id" value="{{ textbook.textbook_id }}">
                                <button class="book-buy-button">Schedule Meetup (Pickup Only)</button>
                            </form>
                            <button class="book-buy-button" onclick="window.location.href='/view_meetup/{{ textbook.textbook_id }}'">View Meetup</button>
                    </div>
                {% else %}
                    <div class="buy-options">
                        <form action="/login" method="get" class="buy-options">
                            <button class="book-buy-button">Add to Cart (Delivery Only)</button>
                        </form>
                        <form action="/login" method="get" class="buy-options">
                            <button class="book-buy-button">Schedule Meetup (Pickup Only)</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>

    </div> 

    <!-- If user is not owner display details of owner -->
    {% if session['user']['user_id'] != textbook.owner.user_id %}
        <div class="bottom">
            <h1 class="mb-3 text-center">About The Owner</h1>
            <div class="card">
                <img class="card-img-top mt-2" src="{{ textbook.owner.profile_picture }}" alt="Owner image">
                <h4 class="card-title text-center">{{ textbook.owner.first_name }} {{ textbook.owner.last_name }}</h4>
                <hr>
                <div class="card-body">
                    <h5 class="text-center mb-4">Member Since: {{ textbook.owner.registration_date | format_date }}</h5>
                    <h5 class="text-center mb-4"># Of Books Sold: {{ num_of_books_sold_by_owner }}</h5>
                    <h5 class="text-center mb-4"># Of Active Listings: {{ active_listings }} </h5>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
