{% extends '_layout.html' %}

{% block title %}Create meeting{% endblock %}

{% block body %}

<div class="col-12 text-center mt-3">
    <h2>Create meeting</h2>
</div>
<form action="/create_meetup" method="POST">
    <input type="hidden" name="textbook_id" value="{{ textbook_id }}">
    <div class="mb-3">
        <label for="meeting_description" class="form-label">Description</label>
        <textarea class="form-control" id="meeting_description" name="meeting_description" required
            placeholder="Enter its description"></textarea>
    </div>
    <div class="mb-3">
        <label for="start_time" class="form-label">Start Time</label>
        <input type="datetime-local" class="form-control" id="start_time" name="start_time" required
            placeholder="Enter start time"> <!-- type="datetime-local" -->
    </div>
    <div class="mb-3">
        <label for="end_time" class="form-label">End Time</label>
        <input type="datetime-local" class="form-control" id="end_time" name="end_time" required placeholder="Enter end time">
        <!-- type="datetime-local" -->
    </div>
    <div class="mb-3">
        <label for="user_address" class="form-label">Address (Powered by Geolocation)</label>
        <input type="text" class="form-control" id="user_address" name="user_address" required
            placeholder="Enter meeting address">
    </div>
    <div class="mb-5 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
