{% extends '_layout.html' %}

{% block title %}<title>Cart</title>{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/direct_messaging.css">
<!-- <div class="container"> -->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0" id="userList">
                        {% for conversation in conversations %}
                            {% if conversation.sender_user_id == session['user']['user_id'] %}
                                <li class="clearfix" data-user-id="{{ conversation.receiver_user_id }}">
                                    <img src="{{ conversation.receiver.profile_picture }}" alt="avatar">
                                    <div class="about">
                                        <div class="name" id="name-{{ conversation.receiver_user_id }}">{{ conversation.receiver.first_name }} {{ conversation.receiver.last_name }}</div>
                                    </div>
                                </li>
                            {% else %}
                                <li class="clearfix" data-user-id="{{ conversation.sender_user_id }}">
                                    <img src="{{ conversation.sender.profile_picture }}" alt="avatar">
                                    <div class="about">
                                        <div class="name" id="name-{{ conversation.sender_user_id }}">{{ conversation.sender.first_name }} {{ conversation.sender.last_name }}</div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6" id="chat-header">
                                <!-- <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">Aiden Chavez</h6>
                                    <small>Last seen: 2 hours ago</small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="chat-history" id="chat-history">
                        <ul class="m-b-0">
                            <!-- <li class="clearfix">
                                <div class="message-data text-right">
                                    <span class="message-data-time">10:10 AM, Today</span>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                </div>
                                <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:12 AM, Today</span>
                                </div>
                                <div class="message my-message">Are we meeting today?</div>                                    
                            </li>                               
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:15 AM, Today</span>
                                </div>
                                <div class="message my-message">Project has been already finished and I have results to show you.</div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <form action="/direct_messaging" class="input-group mb-0" method="post">
                                <input type="hidden" name="receiver_id" id="receiver_id">
                                <input type="text" name="text" class="form-control" placeholder="Enter text here..."> 
                                <div class="input-group-prepend">
                                    <button type="submit"><span class="input-group-text"><i class="fa fa-send"></i></span></button>
                                </div>   
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let usersList = document.getElementById('userList').children; 
            const receiver_id = document.getElementById('receiver_id');
            const selectedConversationRecieverId = "{{ selected_conversation.receiver_user_id if selected_conversation else '' }}";
            
            for (let i = 0; i < usersList.length; i++) {
                usersList[i].addEventListener('click', function () {
                    for (let j = 0; j < usersList.length; j++) {
                        usersList[j].classList.remove('active');
                    }

                    if (!this.classList.contains('active')) {
                        this.classList.add('active');
                        const userId = usersList[i].getAttribute('data-user-id');
                        const full_name = document.getElementById(`name-${userId}`);
                        let chat_header = document.getElementById('chat-header');
                        chat_header.innerHTML = 
                            `<a href="#">
                                <img src= "{{ session['user']['profile_picture'] }}" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">${full_name.textContent}</h6>
                            </div>`;
                        receiver_id.value = userId;
                        loadMessages(userId); 
                    }
                });

                // if user comes from purchase book for pikcup button, load chat with buyer. Else, load first chat
                const userId = usersList[i].getAttribute('data-user-id');
                if (userId === selectedConversationRecieverId) {
                    usersList[i].click();  
                } 
                // else {
                //     usersList[0].click();  
                // }

            }
            
        });

        function loadMessages(userId) {
            fetch(`/load_messages/${userId}`)
            .then(response => response.json())
            .then(data => {
                const chatHistory = document.getElementById('chat-history').querySelector('ul');
                chatHistory.innerHTML = '';

                data.messages.forEach(message => {
                    const messageElement = document.createElement('li');
                    messageElement.className = 'clearfix';
                    if (message.user_id === "{{ session['user']['user_id'] }}") {
                        messageElement.innerHTML = `
                            <div class="message-data" style="display:flex;justify-content:flex-end; gap:.1rem">
                                <div class="message other-message">${message.text}</div>
                                <img src="${message.img}"" alt="avatar">
                            </div>
                        `;
                    } else {
                        messageElement.innerHTML =`
                            <div class="message-data" style="display:flex;justify-content:flex-start; gap:.1rem">
                                <img src="${message.img}" alt="avatar">
                                <div class="message other-message">${message.text}</div>
                            </div>
                        `;
                    }
                    
                    chatHistory.appendChild(messageElement);
                });
            })
            .catch(error => console.error('Error fetching messages:', error));
        }
        
    </script>
<!-- </div>     -->
{% endblock %}