{% extends '_layout.html' %}
x
{% block title %}Home{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/main.css">
<!-- <div class="container pt-4">
  <div class="non-footer">
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="home"></li>
          <li class="name"></li>
        </ul>
        <section class="top-bar-section"></section>
      </nav>
    </div>

    <div class="topbar">
      <div class="wrapper">
        <div class="search">
          <h1>Search for textbooks/course material</h1>
          <form name="searchform" action="/search.php" method="post" class="form-search">
            <input id="search_box" name="keywords" placeholder="Enter" class="txt-search big" autocomplete="off" tabindex="1">
            <input type="submit" class="btn-search big">
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="search-container">
  <form action="{{ url_for('search') }}" class="search-bar" method="GET">
    <input type="text" placeholder="Search Textbook..." name="search_query">
    <button type="submit"><img src="/static/images/search.png"></button>
  </form>
</div>

<div class="wrapper">
  <div class="fullbox index">
      <div style="background: ghostwhite; 
      font-size: 20px; 
      padding: 10px; 
      border: 1px solid lightgray; 
      margin: 10px;">
          <h2 style="margin-top: 0px;">What is our website?</h2>
          
          <p>This site is meant to be allow students to facilitate trade of textbooks or other course materials among students without the overprices fees you would see while buying retail textbooks. You can set textbooks you want to the cart and directly message the current owner while setting up specific meetings to exchange whenever needed.</p>
          
          <h2> How do I rent Textbooks?</h2>

          <p> First you need to make an account and then you can browse using the search bar to add to your cart. You can also check the latest posted listing by clicking the search bar without typing anything in!</p>
      </div>
  </div>
</div>

{% endblock %}
