{% extends '_layout.html' %}
{% block title %}Profile Page{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/profile.css">

{% if 'user' in session %} 
<div class="profile-container">
    <h1 class="mb-0 mt-2 text-center">Welcome back, {{user.first_name}}!</h1>
</div>
{% endif %} 

<div class="profile-grid">
    <div class="profile-container">
        <h1>Your Cart</h1>
        <div class = "scrollable">
            {% if cart_textbooks %}
            <ul>
                {% for textbook in cart_textbooks %}
                <li>
                    <form action="{{ url_for('book') }}" method="GET">
                        <input type="hidden" name="textbook_id" value="{{ textbook.textbook_id }}">
                        <button type="submit" class = "item">
                            {{ textbook.title }} - ${{ textbook.price }}
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>
        <button type="button" class = "button" onclick="window.location.href='/cart/{{ session['cart']['cart_id'] }}'">
            Go to Cart
        </button>
    </div>

    <div class="profile-container">
        <h1>Profile Picture</h1>
        <img src="{{ user.profile_picture }}" alt="Profile Picture">
        <form action="{{ url_for('add_pfp') }}" method="POST" enctype="multipart/form-data" id="profilePicForm">
            <label for="image">Image:</label>
            <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" onchange="this.form.submit()">
            <button type="submit" class = "button" style="display:none;"></button>
        </form>

        <form action="{{ url_for('del_pfp') }}" method="POST" enctype="multipart/form-data">
            <button class = "button" type="submit">Delete profile picture</button>
        </form>
    </div>

    <div class="profile-container">
        <h1>Your Textbooks</h1>
        <div class = "scrollable">
            {% if filtered_textbooks %}
            <ul>
                {% for textbook in filtered_textbooks %}
                <li>
                    <form action="{{ url_for('book') }}" method="GET">
                        <input type="hidden" name="textbook_id" value="{{ textbook.textbook_id }}">
                        <button type="submit" class = "item">
                            {{ textbook.title }} - ${{ textbook.price }}
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>You do not have any textbooks</p>
            {% endif %}
        </div>
        <form action="{{ url_for('addDeleteTextbook') }}" method="GET">
            <button type="submit" class = "button">Manage Textbooks</button>
        </form>
    </div>

    <div class="profile-container">
        <form action="{{ url_for('profile') }}" method="GET">
            <button type="submit" class = "button">Update Password (doesn't work yet)</button>
        </form>
        <form action="{{ url_for('profile') }}" method="GET">
            <button type="submit" class = "button">Change Email (doesn't work yet)</button>
        </form>
        <form action="{{ url_for('deleteAccount') }}" method="GET">
            <button type="submit" class="red" onclick="return confirmDelete()">Delete Account</button>
        </form>
    </div>

</div>
<script>
    function confirmDelete() {
        return confirm("CLICKING OK WILL IMMEDIATELY DELETE YOUR ACCOUNT AND PERMENATLY ERASE ALL OF THE DATA ASSOCIATED WITH YOUR ACCOUNT");
    }
    </script>
{% endblock %}
