{% extends '_layout.html' %}

{% block title %}<title>Cart</title>{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/orders.css">
<div class="container">
    <div class="row">
        <h1 class="text-center mt-4">Rate "{{textbook.title}}"</h1>
        <hr>
        <section class="cart-items-container">
                <div class="order-container">
                    <div class="order-product">
                        <img src="{{ textbook.image_url }}" alt="{{ textbook.title }}" class="search-textbook-image">
                        <div class="search-textbook-info">
                            <h2 class="search-textbook-title">{{ textbook.title }}</h2>
                            <p class="search-textbook-description">{{ textbook.description }}</p>
                            <!-- <p>Purchased On: {}</p> -->
                        </div>
                    </div>
                    <hr>
                    <form action="/orders/{{ textbook.textbook_id }}/rate-textbook" class="rate-form" method="POST">
                        <label for="rating">Select Rating:</label>
                        <select name="rating" class="quantity-input form-outline form-select form-select-sm" required>
                            <option value="" disabled selected>Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <p>Optional Comment:</p>
                        <textarea name="comment" class="comment" placeholder="..."></textarea>
                        <button type="submit" class="btn btn-secondary rating-btn">Submit</button>
                    </form>
                </div>
        </section>
    </div>
</div>

{% endblock %}