{% extends '_layout.html' %}

{% block title %}<title>Login</title>{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/register-login.css">
    <div class="container main-container">
        <div class="row two bg-body-tertiary">

            <div class="col-md-6 container-left">
                <!-- image added in CSS -->
                <!-- <div class="text">
                    <p>Almost There!, 
                        <br>
                        <i>stock whisperers</i>
                    </p>
                </div> --> 
            </div>

                <div class="col-md-6 container-right">
                    <form action="/request_password_reset" method="post" class="login-form input-box">
                            
                            <div class="medium">
                                <span>Enter your email address registered in your account. A code will be sent with instructions to reset you password if an account with the entered email is found.</span>
                            </div>

                            <div class="input-field mt-3">
                                    <input type="email" class="input" name="email" id="email" class="form-control" required>
                                    <label for="email">Email</label> 
                            </div> 
        
                            <div class="input-field">
                                <button type="submit" class="btn btn-login btn-block mb-4">Request Password Reset</button>
                            </div> 
                    </form> 
                </div>

        </div>
    </div>
{% endblock %}