{% extends '_layout.html' %}

{% block title %}<title>Login</title>{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/register-login.css">
    <div class="container main-container">
        <div class="row two bg-body-tertiary">

            <div class="col-md-6 container-left">
                <!-- image added in CSS -->
                <!-- <div class="text">
                    <p>Almost There!, 
                        <br>
                        <i>stock whisperers</i>
                    </p>
                </div> --> 
            </div>

                <div class="col-md-6 container-right">
                    <form action="/reset_password" method="post" class="login-form input-box">
                            
                            <div class="medium">
                                <span>Enter your new password below</span>

                            <div class="input-field mt-3">
                                    <input type="password" class="input" name="password" id="password" class="form-control" required>
                                    <label for="password">new password</label> 
                            </div> 

                            <div class="input-field mt-3">
                                <input type="password" class="input" name="confirm-password" id="confirm-password" class="form-control" required>
                                <label for="confirm-password">confirm new password </label> 
                            </div> 
        
                            <div class="input-field">
                                <button type="submit" class="btn btn-login btn-block mb-4">Reset Password</button>
                            </div> 
                    </form> 
                </div>

        </div>
    </div>
{% endblock %}